body {
    background-color: #c2c2c2;
    margin: 0px;
}

h1 {
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #dddddd;

    text-align: center;
    letter-spacing: 6px;
}

h2 {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: #c5660c;

    text-align: center;
    line-height: 0%;
}

h3 {
    font-size: 52px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #c5660c;
    letter-spacing: 3px;
}

li + li {
    margin-top: 30px;
  }

.blocks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacer {
    height: 5px;
}

#div_title {
    width: 100%;
    height: 15%;
    background-color:#131313;

    display: block;
    text-align: center;
    align-items: baseline;
}

#div_score {
    width: 50%;
    height: 10%;
    margin: auto;
    background-color: #696d6b;
}

#div_game {
    width: 70%;
    height: 55%;
    margin: auto;
    background-color:#222222;
    
    color: #c5660c;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

#div_footer {
 width: 100%;
 height: 20%;
 background-color: #c5660c;
}

#footer_lives_img {
    margin-block-start: 10%;
}

#footer_lives {
    font-size: 20px;
    margin-left: 30%;
}

#footer_rules_button {
    font-size: 20px;
    margin-right: 10%;
}

#div_rules_title {
    width: 50%;
    height: 20%;
    margin: auto;
    background-color: #131313;
   }

#div_rules {
    width: 100%;
    height: 80%;
    background-color: #696d6b;

    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}